h1#shkooby-inu {
    font-size: 4.75rem;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
}

h2#q1-2022-white-paper {
    text-align: center;
}

h1#shkooby-inu + p {
    text-align: center;
}

.page-inner {
    max-width: 100%;
    margin: 0 14rem;
}

.navigation {
    min-width: 120px;
}

.book-header {
    height: 80px;
}




.gitbook-link {
    display: none;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
    display: block;
    padding: 20px 40px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

@media screen and (max-width: 750px){

.page-inner {
    max-width: 100%;
    margin: 0 4rem;

}


}